* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body:before {
  content: '';
  display: inline-block;
  background-image: deprecated-webkit-gradient(linear, left top, left bottom, #EEEEEE 0);
  background-image: -webkit-linear-gradient(left,  #EEEEEE 0);
  background-image: -moz-linear-gradient(left,  #EEEEEE 0);
  background-image: -ms-linear-gradient(left,  #EEEEEE 0);
  background-image: -o-linear-gradient(left,  #EEEEEE 0);
  background-image: linear-gradient(left,  #EEEEEE 0);
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 68em;
  opacity: 0.4;
  position: fixed;
  right: 0;
  width: 100%;
  pointer-events: none;
  z-index: -1;
}
@media screen and (min-width: 20em) {
  body:before {
  background-image: deprecated-webkit-gradient(linear, left top, left bottom, #EEEEEE 0);
  background-image: -webkit-linear-gradient(left, transparent 0, #EEEEEE 0);
  background-image: -moz-linear-gradient(left, transparent 0, #EEEEEE 0);
  background-image: -ms-linear-gradient(left, transparent 0, #EEEEEE 0);
  background-image: -o-linear-gradient(left, transparent 0, #EEEEEE 0);
  background-image: linear-gradient(left, transparent 0, #EEEEEE 0);
 }
}
@media screen and (min-width: 45em) {
  body:before {
    background-image: deprecated-webkit-gradient(linear, left top, left bottom, #EEEEEE 0);
  background-image: -webkit-linear-gradient(left, transparent 0, #EEEEEE 0);
  background-image: -moz-linear-gradient(left, transparent 0, #EEEEEE 0);
  background-image: -ms-linear-gradient(left, transparent 0, #EEEEEE 0);
  background-image: -o-linear-gradient(left, transparent 0, #EEEEEE 0);
  background-image: linear-gradient(left, transparent 0, #EEEEEE 0);
 }
}
@media screen and (min-width: 60em) {
  body:before {
  background-image: deprecated-webkit-gradient(linear, left top, left bottom, #EEEEEE 0);
  background-image: -webkit-linear-gradient(left, transparent 0, #EEEEEE 0);
  background-image: -moz-linear-gradient(left, transparent 0, #EEEEEE 0);
  background-image: -ms-linear-gradient(left, transparent 0, #EEEEEE 0);
  background-image: -o-linear-gradient(left, transparent 0, #EEEEEE 0);
  background-image: linear-gradient(left, transparent 0, #EEEEEE 0);
 }
}

.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (min-width: 20em) {
  .no-sidebars #content {
    width: 100%;
  }
}
@media screen and (min-width: 45em) {
  .no-sidebars #content {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 100%;
  }
  .no-sidebars #content:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 60em) {
  .no-sidebars #content {
    float: left;
    display: block;
    margin-right: 1.69492%;
    width: 100%;
  }
  .no-sidebars #content:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 20em) {
  .one-sidebar.sidebar-second #content {
    width: 100%;
  }
}
@media screen and (min-width: 45em) {
  .one-sidebar.sidebar-second #content {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 74.19355%;
  }
  .one-sidebar.sidebar-second #content:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 60em) {
  .one-sidebar.sidebar-second #content {
    float: left;
    display: block;
    margin-right: 1.69492%;
    width: 72.88136%;
  }
  .one-sidebar.sidebar-second #content:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 20em) {
  .one-sidebar.sidebar-first #content {
    width: 100%;
  }
}
@media screen and (min-width: 45em) {
  .one-sidebar.sidebar-first #content {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 74.19355%;
    margin-left: 25.80645%;
  }
  .one-sidebar.sidebar-first #content:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 60em) {
  .one-sidebar.sidebar-first #content {
    float: left;
    display: block;
    margin-right: 1.69492%;
    width: 79.66102%;
    margin-left: 20.33898%;
  }
  .one-sidebar.sidebar-first #content:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 20em) {
  .two-sidebars #content {
    width: 100%;
  }
}
@media screen and (min-width: 45em) {
  .two-sidebars #content {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 48.3871%;
    margin-left: 25.80645%;
  }
  .two-sidebars #content:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 60em) {
  .two-sidebars #content {
    float: left;
    display: block;
    margin-right: 1.69492%;
    width: 52.54237%;
    margin-left: 20.33898%;
  }
  .two-sidebars #content:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 20em) {
  #sidebar-first {
    width: 100%;
  }
}
@media screen and (min-width: 45em) {
  #sidebar-first {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 22.58065%;
    margin-left: -77.41935%;
  }
  #sidebar-first:last-child {
    margin-right: 0;
  }
  .sidebar-first #sidebar-first {
    margin-left: -103.22581%;
  }
}
@media screen and (min-width: 60em) {
  #sidebar-first {
    float: left;
    display: block;
    margin-right: 1.69492%;
    width: 18.64407%;
    margin-left: -74.57627%;
  }
  #sidebar-first:last-child {
    margin-right: 0;
  }
  .sidebar-first #sidebar-first {
    margin-left: -101.69492%;
  }
}

@media screen and (min-width: 20em) {
  #sidebar-second {
    width: 100%;
  }
}
@media screen and (min-width: 45em) {
  #sidebar-second {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 22.58065%;
    margin-left: 0%;
  }
  #sidebar-second:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 60em) {
  #sidebar-second {
    float: left;
    display: block;
    margin-right: 1.69492%;
    width: 25.42373%;
    margin-left: 0%;
  }
  #sidebar-second:last-child {
    margin-right: 0;
  }
}

#footer {
  float: none;
  clear: both;
}

#header,
#footer,
.mission,
.breadcrumb,
.node {
  clear: both;
}

.inner {
  padding: 0;
}

#navigation li {
  list-style-type: none;
  display: inline-block;
}

/*# sourceMappingURL=layout.css.map */
